<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li></li>
        <li></li>
        <li></li>
       </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description  {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>